*{
	padding: 0px;
	margin: 0px;
	font-family: 'Aspirin', sans-serif;
	box-sizing: border-box;
}

body {
	background-image: url("../img/index.jpg");
	background-size: cover;
	text-align: center;
	color: white;
}

div.top{
	display: flex;
	width: 100%;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
}

div.espace{
	height: 700px;
	width: 100%;
}

div.topleft{
	display: flex;
	align-items: center;
}

div.body{
	background-color: black; /*peut etre mettre du gris foncé partout*/
	position: absolute;
	z-index: -1;
}

div.exemple{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.droite{
	text-align: center;
}

div.bottom{
	height: 50vh;
	background-color:rgb(22, 22, 22);
	padding: 20px;
	bottom: 20px;
	text-align: center;
	width: 100%;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
}
	
.bottom h1 {
	font-size: 16px;
	margin-bottom: 5px;
}

.textebot h2 {
	font-size: 14px;
	margin: 2px 0;
	display: inline;
	margin-right: 10px;
}

.textebot h2:not(:last-child)::after {
	content: "|";
	margin-left: 10px;
	color: rgba(255, 255, 255, 0.6);
}

li, a {
	display: inline-block;
	font-size: 20px;
	margin: 0 10px;
	text-decoration: none;
	color: white;
}

p {
	font-size: 18px;
}

video.fond{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

img.logo{
	width: 75px;
}

.topleft h1{
	font-size: 50px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

.droite h1,p{
	margin: 50px;
	color : white;
}

.droite a {
    background-color: darkblue; /*changer la coueleur */
    color: white;
    padding: 10px 20px; 
    border-radius: 10px; 
    transition: 0.3s; 
}

.droite a:hover {
    background-color: #082c4c; /* changer la couleur */
    transform: scale(1.05); 
}

.boutton a {
    background-color: darkblue; /*changer la coueleur */
    color: white;
    padding: 10px 20px; 
    border-radius: 10px; 
    transition: 0.3s; 
	margin: 40px;
}

.boutton a:hover {
    background-color: #082c4c; /* changer la couleur */
    transform: scale(1.05); 
	margin: 40px;
}

img.planete{
	width: 800px;
}

.boutique {
	width : 100%;
	height : 400px;
	background-color: black;
}

.produit {
    object-fit: cover;
	width: 300px;
	padding:0px;
}

.top ul{
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px;
}

.boutique table{
	margin: auto;
	padding: auto;
}

.boutique td{
	text-align: center;
	width: 300px;
}
