* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../img/index.jpg");
    background-position: center;
    background-size: cover;
}

section {
    padding: 30px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
}

section h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    color: #fff;
    padding-right: 40px;
}

.form-group input::placeholder {
    color: #fff;
}

.submit {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s
}

.submit:hover {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    color: #fff;
}



.dejainscrit {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;

}

.dejainscrit a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.dejainscrit a {
    text-decoration: underline
}
