body {
	background-image: url("../img/index.jpg");
	background-size: cover;
	color: white;
	text-align: center;

}


li, a {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

p {
	font-size: 18px;
}



.search {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}


.search form {
    width: 50%;
    max-width: 600px;
    display: flex;
}



.search input {
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}


.search button {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #ccc;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s;
}


.search button:hover {
    background-color: purple;
}